{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %} Myweb - {{user.username}} {% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}<br>
            {% endif %}
            {% if user.location %}
            From <a href="http://maps.baidu.com/?q={{ user.location }}">
                {{ user.location }}</a><br>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            {% endif %}
        </p>
        {% endif %}
        <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">编辑个人资料</a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile_admin', id=user.id) }}">
                编辑个人资料(管理员)</a>
            {% endif %}
        </p>
        {% if user.about_me %}
        <p>{{user.about_me}}</p>
        {% endif %}
        <p>
        注册时间：{{ moment(user.member_since).format('LL') }}
        上次登录：{{ moment(user.last_seen).fromNow() }}
        </p>
    </div>
</div>
<h3>{{ user.username }}的博客</h3>
{% include '_posts.html' %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.user', username=user.username)}}
</div>
{% endblock %}
